        <section class="action_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="action_inner">
                            <h2>Status / Action</h2>
                            <div class="stop clearfix">
                              <p>running job(1) | <span><a href=""><img src="images/stop2.jpg" alt=""></a></span></p>
                            </div>
                            <h2>Scraper Details</h2>
                            <div class="scrapper clearfix">
                              <h3>Site Alias: <span>selogar</span></h3>
                              <h3>Port: <span>8802</span></h3>
                              <h3>Full domain: <span>google.com</span></h3>
                              <h3>country: <span>bd</span></h3>
                              <h3>currency: <span>euro</span></h3>
                              <h3>phone prefix: <span>+001</span></h3>
                              <h3>listing per page: <span>20</span></h3>
                              <h3>delay per request: <span>5000</span></h3>
                              <h3>log file: <span>google.com <a href=""><img src="images/pdf.jpg" alt=""></a></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="action_inner">
                            <h2>Running Status</h2>
                            <div class="running_inner clearfix">
                              <h2>time</h2>
                                <h3>started: <br> <span>15 jul 2017</span></h3>
                                <h3>elapsed total: <br> <span>24 min</span></h3>
                                <h3>elapsed job: <br> <span>13 min</span></h3>
                            </div>
                            <div class="running_inner running_inner_2 clearfix">
                              <h2>totals</h2>
                                <h3>on site: <br> <span>45655</span></h3>
                                <h3>to create: <br> <span>5241</span></h3>
                                <h3>to updated: <br> <span>2745</span></h3>
                                <h3>to deleted: <br> <span>2745</span></h3>
                            </div>
                            <div class="running_inner clearfix">
                              <h2>stats</h2>
                                <h3>started: <br> <span>15 jul 2017</span></h3>
                                <h3>elapsed total: <br> <span>24 min</span></h3>
                                <h3>elapsed job: <br> <span>13 min</span></h3>
                                <h3>elapsed job: <br> <span>13 min</span></h3>
                                <h3>elapsed job: <br> <span>13 min</span></h3>
                                <h3>elapsed job: <br> <span>13 min</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="action_inner">
                            <h2>Genral Status</h2>
                            <div class="stop clearfix">
                              <p>last run result | <span>validation error</span></p>
                            </div>
                            <h2>Scraper Details</h2>
                            <div class="scrapper scrapper_last clearfix">
                              <h2>Last Successful Run</h2>
                              <h3>date: <span>15 jul</span></h3>
                              <h3>total time: <span>8802 min</span></h3>
                              <h3>total scrapped listing: <span>4552</span></h3>
                              <h3>total created: <span>3652</span></h3>
                              <h3>total upload: <span>5483</span></h3>
                              <h3>total deleted: <span>4258</span></h3>
                              <h3>listing per page: <span>20</span></h3>
                              <h3>delay per request: <span>5000</span></h3>
                              <h3>log file: <span>google.com <a href=""><img src="images/pdf.jpg" alt=""></a></span></h3>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>                                  
        <!-- =========================
            END HEADER SECTION
        ============================== --> 

        <!-- =========================
            START HEADER SECTION
        ============================== --> 
        <section class="view_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="view_table">
                            <div class="notification">
                                <a href=""><img src="images/ic-1.jpg" alt=""></a>
                                <a href=""><img src="images/ic-2.jpg" alt=""></a>
                                <a href=""><img src="images/ic-3.jpg" alt=""></a>
                            </div>
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Temp IDs</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Details Data</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                             <div class="table-responsive">
                                    <table class="table table-striped table-responsive">
                                      <thead>
                                        <tr>
                                          <th>id</th>
                                          <th>url</th>
                                          <th>city</th>
                                          <th>address</th>
                                          <th>operation</th>
                                          <th>type</th>
                                          <th>sub type</th>
                                          <th>price</th>
                                          <th>surface</th>
                                          <th># bdr</th>
                                          <th># rooms</th>
                                          <th># bth</th>
                                          <th># funnished</th>
                                          <th><span ng-click="openDetailsOptionModal()"><img src="images/ic-4.jpg" alt=""></span></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href=""><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href=""><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href=""><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href=""><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href=""><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                      </tbody>
                                    </table>    
                              </div>             
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                             <div class="table-responsive">
                                    <table class="table table-striped table-responsive">
                                      <thead>
                                        <tr>
                                          <th>id2</th>
                                          <th>url2</th>
                                          <th>city</th>
                                          <th>address</th>
                                          <th>operation</th>
                                          <th>type</th>
                                          <th>sub type</th>
                                          <th>price</th>
                                          <th>surface</th>
                                          <th># bdr</th>
                                          <th># rooms</th>
                                          <th># bth</th>
                                          <th># funnished</th>
                                          <th><a href=""><img src="images/ic-4.jpg" alt=""></a></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>imoldr1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                        <tr>
                                          <td>selog1235468</td>
                                          <td><a href="#"><img src="images/ic-6.jpg" alt=""></a></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td><a href="#"><img src="images/ic-5.jpg" alt=""></a></td>
                                        </tr>
                                      </tbody>
                                    </table>    
                              </div>                                  
                            </div>
                          </div>
                        </div>
                                                               
                    </div>
                </div>
            </div>
        </section>                                  
        <!-- =========================
            END HEADER SECTION
        ============================== -->

        <!-- =========================
            START HEADER SECTION
        ============================== --> 
